.landingSiteSection {
    margin: 50px 0px;
}

.mx_05 {
    margin: 0 0.5rem;
}
.mx_1 {
    margin: 0 1rem;
}
.mx_2 {
    margin: 0 2rem;
}
.mx_3 {
    margin: 0 3rem;
}
.mx_4 {
    margin: 0 4rem;
}
